{{#if city}}
    <h2>These are the signatures from {{city}}.<br>Return to see all signatures <a href="/signatures/list/">here</a>.</h2>
{{/if}}

{{#unless city}}
    <h2>These are the names of those who have signed this very important petition.</h2>
{{/unless}}

<ul>
    {{#each signatures}}
        <li>{{#if this.url}}
                <a href="{{this.url}}">
            {{/if}}
            {{#unless this.url}}
                {{#if this.link}}
                    <a href="{{this.link}}">
                {{/if}}
            {{/unless}}

            {{this.firstname}}  {{this.lastname}}</a>{{#if this.age}}, {{this.age}} years of age{{/if}}{{#if ../city}}.{{/if}}{{#unless ../city}}{{#if this.city}}, from <a href="/signatures/list/{{this.city}}"> {{this.city}}</a>. {{/if}}{{/unless}} </li>
        {{#if this.picUrl}}<img src="{{this.picUrl}}" style="height:50px; width:50px">{{/if}}
    {{/each}}
</ul>
{{> footer}}
